<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GIS.lab admin console{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <main>
    {% if user.is_authenticated %}
      <nav>
        <a href="{% url 'home' %}">
          <img src="{% static 'gislab_white.svg' %}">
        </a>

        <a class="button-box" href="{% url 'logout' %}">logout</a>
      </nav>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
