{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>Personal details</h2>
  Username: {{ user.username }}<br> 
  First name: {{ user.first_name }}<br> 
  Last name: {{ user.last_name }}<br> 
  E-mail: {{ user.email }}<br> 
  Description: {{ user.description }}<br>

<h2>Change password</h2>

<h2>Roles (add/remove)</h2>
  <li>superuser: {{ user.is_superuser }}</li>

  {% for group in request|list_groups %}
  <li>{{  group.name  }}:
     {% if request.user|has_group:group.name %}
       True
     {% else %}
       False
     {% endif %}</li>
  {% endfor %}

<h2>Roles (edit)</h2>
 
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
