{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h2>Personal details</h2>
  Username: {{ user.username }}<br> 
  First name: {{ user.first_name }}<br> 
  Last name: {{ user.last_name }}<br> 
  E-mail: {{ user.email }}<br> 
  Description: {{ user.description }}<br>

<a class="button-box" href="{% url 'user_change' user.id %}">Edit</a>

<h2>Roles</h2>
  {% for group in request|list_groups %}
  <li>{{  group.name  }}:
     {% if request.user|has_group:group.name %}
       True
     {% else %}
       False
     {% endif %}</li>
  {% endfor %}
 
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
