{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>Personal details</h2>
  Username: {{ user.username }}<br> 
  First name: {{ user.first_name }}<br> 
  Last name: {{ user.last_name }}<br> 
  E-mail: {{ user.email }}<br> 
  Description: {{ user.description }}<br>

<h2>Change password</h2>

<h2>Roles (add/remove)</h2>
  Superuser> {{ user.is_superuser }}<br>

<h2>Roles (edit)</h2>
 
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
